@use '../abstracts' as *;

.container {
  width: 100%;
}

header {
  margin: 0 6%;
  padding: 1rem 0;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 100px;
  }

  nav {
    flex: 0 1 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 0 10px;

    &:last-child {
      color: $sc-color-td;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.sec-1 {
  height: 75vh;
  background: url('../images/background.svg') no-repeat;
  background-size: calc(10vmax + 300px);
  background-position: bottom right 5%;

  .content {
    margin: 0 10%;
    padding-top: 6%;
  }

  h3 {
    color: #777777;
    text-transform: capitalize;
    margin-bottom: calc(0.6rem + 1vmin);
  }

  a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    background: $sc-color-sd;
    font-size: $lg-text;
    padding: 0.2rem 0.5rem;
    padding-bottom: 0.3rem;
    transition: letter-spacing ease-in-out 0.3s;

    &:hover {
      letter-spacing: 2px;
    }
  }
}

.sec-2 {
  margin: 0 10%;
  padding: calc(0.6% + 1vmin) 0;
  display: flex;
  justify-content: space-between;

  .card {
    height: 18vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .number {
    $size: calc(1rem + 12px + 1.2vw);
    width: $size;
    height: $size;
    font-size: $xl-text;
    background-color: $pr-color-fd;
    border-radius: 50%;
    color: white;
    display: grid;
    place-items: center;
  }

  .text {
    text-align: center;
    font-size: $lg-text;
    text-transform: capitalize;
    font-weight: 700;
  }
}

.sec-3 {
  margin-top: 4vh;
  min-height: 25vh;
  background: url('../images/footer-bg.png') no-repeat;
  background-size: 100% 100%;
  display: grid;
  place-items: center;

  .content {
    padding: 0 15%;
    margin: 3%;
    margin-top: 7%;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
  }
}

footer {
  background-color: $pr-color-fd;
  min-height: 15vh;
  display: grid;
  place-items: center;

  .content {
    width: 88%;
  }

  .social-links {
    width: 200px;
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      width: 1.7rem;
      transition: 0.3s transform ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  * {
    color: white;
  }

  a {
    transition: letter-spacing ease-in-out 0.4s;

    &:hover {
      letter-spacing: 2px;
    }
  }
}
