@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&family=Roboto:wght@300;400;500;700;900&display=swap");
h1 {
  font-weight: bold;
  font-size: calc(60px + 4vw);
}

h2 {
  font-size: calc(25px + 1.8vw);
}

h3 {
  font-size: calc(15px + 1.5vw);
}

:root {
  --accent-color: #641bff;
  --heading-font: "Poppins", sans-serif;
  --body-font: "Lato", sans-serif;
}

.options-wrapper {
  z-index: 5;
  margin: 15vh 0;
  text-align: center;
}
.options-wrapper main {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: auto;
  grid-gap: 2rem;
  position: relative;
  top: 20px;
}
.options-wrapper .sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(31, 18, 58, 0.1);
  padding: 1rem;
}
.options-wrapper #s2 {
  background-color: var(--accent-color);
  color: white;
  height: 555px;
  position: relative;
  top: -40px;
}
.options-wrapper .most {
  font-family: var(--heading-font);
  padding: 0.5rem;
  font-weight: bold;
}
.options-wrapper .price_holder {
  font-family: var(--heading-font);
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.options-wrapper .price {
  font-size: 55px;
}
.options-wrapper .price::after {
  content: "/MO";
  font-size: 20%;
}
.options-wrapper .price::before {
  content: "$";
  font-size: 35%;
  padding: 3px;
  position: relative;
  top: -35px;
}
.options-wrapper .description {
  margin-top: 0.5rem;
  font-size: 1.1em;
}
.options-wrapper .divider {
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.options-wrapper #s2 > .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.options-wrapper .features {
  position: relative;
  left: -50px;
}
.options-wrapper .have,
.options-wrapper .dont {
  margin: 7px 5px 7px 0px;
}
.options-wrapper .dont {
  color: #999;
  text-decoration-line: line-through;
}
.options-wrapper .have::before {
  position: relative;
  top: 3px;
  content: url("../images/check-circle.svg");
  margin-right: 0.5rem;
}
.options-wrapper .dont::before {
  position: relative;
  top: 3px;
  content: url("../images/x-square.svg");
  margin-right: 0.5rem;
}
.options-wrapper .cta {
  border: none;
  background-color: var(--accent-color);
  color: white;
  width: 80%;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: bold;
  border-radius: 4px;
  margin: 1.5rem;
  margin-bottom: 0.5rem;
  transition: 100ms;
  transform: scale(1);
}
.options-wrapper #s2 .cta {
  background-color: white;
  color: var(--accent-color);
}
.options-wrapper .cta:hover,
.options-wrapper .cta:focus {
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .options-wrapper main {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 275px;
  }
  .options-wrapper .sections {
    margin-top: 0.2rem;
  }
}

/*# sourceMappingURL=Options.css.map */
