@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&family=Roboto:wght@300;400;500;700;900&display=swap");
h1 {
  font-weight: bold;
  font-size: calc(60px + 4vw);
}

h2 {
  font-size: calc(25px + 1.8vw);
}

h3 {
  font-size: calc(15px + 1.5vw);
}

.container-home {
  width: 100%;
}
.container-home header {
  margin: 0 6%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
}
.container-home header .logo {
  max-width: 100px;
  width: 20%;
}
.container-home header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 22%;
}
.container-home header a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: black;
  cursor: pointer;
  margin: 0 10px;
  font-size: 0.9rem;
  transition: transform ease-in-out 0.3s;
}
.container-home header a:hover, .container-home header a:focus {
  transform: scale(1.2);
}
.container-home header a:last-child {
  color: #5da1f2;
}
.container-home .sec-1 {
  height: 75vh;
  background: url("../images/background.svg") no-repeat;
  background-size: calc(10vmax + 300px);
  background-position: bottom right 5%;
}
.container-home .sec-1 .content {
  margin: 0 6%;
  padding-top: 6%;
}
.container-home .sec-1 h3 {
  color: #777777;
  text-transform: capitalize;
  margin-bottom: calc(0.6rem + 1vmin);
}
.container-home .sec-1 a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  background: #025bc6;
  font-size: calc(9px + 1vw);
  padding: 0.3rem 0.6rem;
  padding-bottom: 0.35rem;
  transition: letter-spacing ease-in-out 0.3s;
}
.container-home .sec-1 a:hover {
  letter-spacing: 2px;
}
.container-home .sec-2 {
  margin: 0 6%;
  padding: calc(0.6% + 1vmin) 0;
  display: flex;
  justify-content: space-between;
  align-items: unset;
}
.container-home .sec-2 .card {
  height: 18vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.container-home .sec-2 .number {
  width: calc(1rem + 12px + 1.2vw);
  height: calc(1rem + 12px + 1.2vw);
  font-size: calc(12px + 1.2vw);
  background-color: #f5820c;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .sec-2 .text {
  text-align: center;
  font-size: calc(9px + 1vw);
  text-transform: capitalize;
  font-weight: 700;
}
.container-home .sec-3 {
  margin-top: 4vh;
  min-height: 25vh;
  background: url("../images/footer-bg.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .sec-3 .content {
  padding: 0 15%;
  margin: 6%;
  margin-top: 7%;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.container-home .sec-3 .btns {
  margin: auto;
  max-width: 300px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-home .sec-3 a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  background: #025bc6;
  font-size: calc(9px + 1vw);
  padding: 0.3rem 0.6rem;
  padding-bottom: 0.35rem;
  transition: transform ease-in-out 0.3s;
}
.container-home .sec-3 a:hover, .container-home .sec-3 a:focus {
  transform: scale(1.2);
}
.container-home footer {
  background-color: #f5820c;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}
.container-home footer .content {
  width: 88%;
}
.container-home footer .social-links {
  width: 200px;
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-home footer .social-links img {
  width: 1.7rem;
  transition: transform ease-in-out 0.3s;
}
.container-home footer .social-links img:hover, .container-home footer .social-links img:focus {
  transform: scale(1.2);
}
.container-home footer * {
  color: white;
}
.container-home footer a {
  transition: letter-spacing ease-in-out 0.4s;
}
.container-home footer a:hover {
  letter-spacing: 2px;
}

/*# sourceMappingURL=Home.css.map */
