@use './colors' as *;
@use './typography' as *;

@mixin link-btn {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  background: $sc-color-sd;
  font-size: $lg-text;
  padding: 0.3rem 0.6rem;
  padding-bottom: 0.35rem;
}

@mixin flex-mix($justify-content: unset, $align-items: unset) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin hoverScaleEffect($scale: 1.2) {
  transition: transform ease-in-out 0.3s;

  &:hover,
  &:focus {
    transform: scale($scale);
  }
}
