@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');

$lg-title: calc(60px + 4vw);
$md-title: calc(25px + 1.8vw);
$sm-title: calc(15px + 1.5vw);
$xl-text: calc(12px + 1.2vw);
$lg-text: calc(9px + 1vw);

h1 {
  font-weight: bold;
  font-size: $lg-title;
}

h2 {
  font-size: $md-title;
}

h3 {
  font-size: $sm-title;
}
