@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

$lg-title: calc(60px + 4vw);
$sm-title: calc(15px + 1.5vw);
$lg-text: calc(12px + 1.3vw);

h1 {
  font-weight: bold;
  font-size: $lg-title;
}

h3 {
  font-size: $sm-title;
}
