@use '../abstracts' as *;

:root {
  --accent-color: #641bff;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Lato', sans-serif;
}

.options-wrapper {
  z-index: 5;
  margin: 15vh 0;
  text-align: center;
  main {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    grid-gap: 2rem;
    position: relative;
    top: 20px;
  }

  .sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(31, 18, 58, 0.1);
    padding: 1rem;
  }
  #s2 {
    background-color: var(--accent-color);
    color: white;
    height: 555px;
    position: relative;
    top: -40px;
  }
  .most {
    font-family: var(--heading-font);
    padding: 0.5rem;
    font-weight: bold;
  }
  .price_holder {
    font-family: var(--heading-font);
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
  }
  .price {
    font-size: 55px;
  }
  .price::after {
    content: '/MO';
    font-size: 20%;
  }

  .price::before {
    content: '$';
    font-size: 35%;
    padding: 3px;
    position: relative;
    top: -35px;
  }
  .description {
    margin-top: 0.5rem;
    font-size: 1.1em;
  }
  .divider {
    height: 1px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #s2 > .divider {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .features {
    position: relative;
    left: -50px;
  }
  .have,
  .dont {
    margin: 7px 5px 7px 0px;
  }
  .dont {
    color: #999;
    text-decoration-line: line-through;
  }
  .have::before {
    position: relative;
    top: 3px;
    content: url('../images/check-circle.svg');
    margin-right: 0.5rem;
  }
  .dont::before {
    position: relative;
    top: 3px;
    content: url('../images/x-square.svg');
    margin-right: 0.5rem;
  }
  .cta {
    border: none;
    background-color: var(--accent-color);
    color: white;
    width: 80%;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin: 1.5rem;
    margin-bottom: 0.5rem;
    transition: 100ms;
    transform: scale(1);
  }

  #s2 .cta {
    background-color: white;
    color: var(--accent-color);
  }

  .cta:hover,
  .cta:focus {
    transform: scale(1.1);
  }
  @media screen and (max-width: 600px) {
    main {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      grid-template-columns: 275px;
    }

    .sections {
      margin-top: 0.2rem;
    }
  }
}
