@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&family=Roboto:wght@300;400;500;700;900&display=swap");
h1 {
  font-weight: bold;
  font-size: calc(60px + 4vw);
}

h2 {
  font-size: calc(25px + 1.8vw);
}

h3 {
  font-size: calc(15px + 1.5vw);
}

.container-home {
  width: 100%;
}
.container-home header {
  margin: 0 6%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
}
.container-home header .logo {
  width: 100px;
}
.container-home header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 20%;
}
.container-home header a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: black;
  cursor: pointer;
  margin: 0 10px;
  transition: transform ease-in-out 0.3s;
}
.container-home header a:hover {
  transform: scale(1.2);
}
.container-home header a:last-child {
  color: #5da1f2;
}
.container-home .sec-1 {
  height: 75vh;
  background: url("../images/background.svg") no-repeat;
  background-size: calc(10vmax + 300px);
  background-position: bottom right 5%;
}
.container-home .sec-1 .content {
  margin: 0 10%;
  padding-top: 6%;
}
.container-home .sec-1 h3 {
  color: #777777;
  text-transform: capitalize;
  margin-bottom: calc(0.6rem + 1vmin);
}
.container-home .sec-1 a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  background: #025bc6;
  font-size: calc(9px + 1vw);
  padding: 0.3rem 0.6rem;
  padding-bottom: 0.35rem;
  transition: letter-spacing ease-in-out 0.3s;
}
.container-home .sec-1 a:hover {
  letter-spacing: 2px;
}
.container-home .sec-2 {
  margin: 0 10%;
  padding: calc(0.6% + 1vmin) 0;
  display: flex;
  justify-content: space-between;
  align-items: unset;
}
.container-home .sec-2 .card {
  height: 18vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.container-home .sec-2 .number {
  width: calc(1rem + 12px + 1.2vw);
  height: calc(1rem + 12px + 1.2vw);
  font-size: calc(12px + 1.2vw);
  background-color: #f5820c;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .sec-2 .text {
  text-align: center;
  font-size: calc(9px + 1vw);
  text-transform: capitalize;
  font-weight: 700;
}
.container-home .sec-3 {
  margin-top: 4vh;
  min-height: 25vh;
  background: url("../images/footer-bg.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-home .sec-3 .content {
  padding: 0 15%;
  margin: 3%;
  margin-top: 7%;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.container-home .sec-3 .btns {
  margin: auto;
  max-width: 300px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-home .sec-3 a {
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  background: #025bc6;
  font-size: calc(9px + 1vw);
  padding: 0.3rem 0.6rem;
  padding-bottom: 0.35rem;
  transition: transform ease-in-out 0.3s;
}
.container-home .sec-3 a:hover {
  transform: scale(1.2);
}
.container-home footer {
  background-color: #f5820c;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}
.container-home footer .content {
  width: 88%;
}
.container-home footer .social-links {
  width: 200px;
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-home footer .social-links img {
  width: 1.7rem;
  transition: transform ease-in-out 0.3s;
}
.container-home footer .social-links img:hover {
  transform: scale(1.2);
}
.container-home footer * {
  color: white;
}
.container-home footer a {
  transition: letter-spacing ease-in-out 0.4s;
}
.container-home footer a:hover {
  letter-spacing: 2px;
}

.registerForm-wrapper {
  text-align: center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  flex: 0 0 80%;
  max-width: 600px;
}
.registerForm-wrapper main {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
  height: 65vh;
  padding: 1rem;
}
.registerForm-wrapper main .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 10%;
}

.options-wrapper {
  z-index: 5;
  margin: 15vh 0;
  text-align: center;
}
.options-wrapper main {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: auto;
  grid-gap: 5vmax;
  position: relative;
  top: 15px;
}
.options-wrapper .sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(31, 18, 58, 0.1);
  padding: 1rem;
}
.options-wrapper .sections:last-child {
  background-color: #025bc6;
  color: white;
}
.options-wrapper .price_holder {
  font-family: Montserrat;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.options-wrapper .price {
  font-size: 55px;
}
.options-wrapper .price::after {
  content: "/MO";
  font-size: 20%;
}
.options-wrapper .price::before {
  content: "$";
  font-size: 35%;
  padding: 3px;
  position: relative;
  top: -35px;
}
.options-wrapper .description {
  margin-top: 0.5rem;
  font-size: 1.1em;
}
.options-wrapper .divider {
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.options-wrapper .sections:last-child > .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.options-wrapper .features {
  position: relative;
  left: -50px;
}
.options-wrapper .have,
.options-wrapper .dont {
  margin: 7px 5px 7px 0px;
}
.options-wrapper .dont {
  color: #999;
  text-decoration-line: line-through;
}
.options-wrapper .have::before {
  position: relative;
  top: 3px;
  content: url("../images/check-circle.svg");
  margin-right: 0.5rem;
}
.options-wrapper .dont::before {
  position: relative;
  top: 3px;
  content: url("../images/x-square.svg");
  margin-right: 0.5rem;
}
.options-wrapper .cta {
  border: none;
  background-color: #025bc6;
  color: white;
  width: 80%;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: bold;
  border-radius: 4px;
  margin: 1.5rem;
  margin-bottom: 0.5rem;
  transition: 300ms;
  transform: scale(1);
}
.options-wrapper .cta:hover, .options-wrapper .cta:focus {
  transform: scale(1.1);
}
.options-wrapper .sections:last-child .cta {
  background-color: white;
  color: #025bc6;
}
@media screen and (max-width: 650px) {
  .options-wrapper main {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 275px;
  }
  .options-wrapper .sections {
    margin-top: 0.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#root {
  width: 100%;
  position: relative;
}

.container-auth {
  width: 100%;
  background-color: #f4f4f4;
  min-height: 100vh;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container-auth::after, .container-auth::before {
  content: "";
  width: 100%;
  height: 30vh;
  background: url("../images/footer-bg.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: -20vh;
  left: 0;
}
.container-auth::before {
  top: -20vh;
  transform: rotate(180deg);
}

/*# sourceMappingURL=index.css.map */
