@use './abstracts' as *;
@use './components/Home';
@use './components/Register';
@use './layout/Options';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
  width: 100%;
  position: relative;
}

.container-auth {
  width: 100%;
  background-color: #f4f4f4;
  min-height: 100vh;
  height: max-content;
  position: relative;
  @include flex-mix(center, center);
  overflow: hidden;

  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 30vh;
    background: url('../images/footer-bg.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -20vh;
    left: 0;
  }

  &::before {
    top: -20vh;
    transform: rotate(180deg);
  }
}
